<!DOCTYPE html>

<head>
<meta charset="utf-8"/>
<link rel="stylesheet" type="text/css" href="styles.css" >
<script src="https://unpkg.com/axios/dist/axios.min.js" defer></script>
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js" defer></script>
<script src="https://unpkg.com/vue-router/dist/vue-router.js" defer></script>
<script src="app-prod.js" defer></script>
</head>

<body>
  <div class="wrapper">
    <div class="content">
      <div id="app">
        <div id="buttons">
          <router-link to="/1/_"><button>One</button></router-link>
          <router-link to="/2/_"><button>Two</button></router-link>
          <router-link to="/3/_"><button>Three</button></router-link>
          <button @click="add">Add</button>
        </div>
          <router-view id="mainCanvas"></router-view>
          <form id="form" v-if="formSeen">
            <input v-model="inputName" placeholder="Your name">
            <input v-model="inputPhone" placeholder="Phone" type="tel">
            <input v-model="inputMail" placeholder="E-mail" type="email">
            <input v-model.trim="inputMsg" placeholder="Short message">
            <center><input id = "inputButton" @click="send" type="submit" value="send"></center>
          </form>
          <center>{{formMessage}}</center>
      </div>
      <div class="footer">
      </div>
    </div>
  </div>
</body>

</html>
